<div class="add-event">
    <div class="row">
        <div class="col-xs-8 col-offset-xs-16 text-right">
            <button class="btn btn-default j-add-event">Add</button>
            <button class="btn btn-default j-show-list">Show List</button>
        </div>
    </div>
    <div class="row mt-10">
        <div class="col-xs-8">
            <div class="form-row">
                <input name="title" type="text" required title="title" class="form-class w100p" placeholder="Title *"/>
            </div>
            <div class="form-row">
                <input name="company" type="text" required title="company" class="form-class w100p" placeholder="Company *"/>
            </div>
            <div class="form-row">
                <input name="phone" type="tel" required title="phone" class="form-class w100p" placeholder="Phone *"/>
            </div>
        </div>
        <div class="col-xs-16">
            <div class="form-row">
                <textarea name="description" title="description" class="form-class w100p md-area" placeholder="Description"></textarea>
            </div>
        </div>
    </div>
</div>