<div class="add-event">
    <div class="row">
        <div class="col-xs-8 col-offset-xs-16 text-right">
            <button class="btn btn-default j-add-event">Add</button>
            <button class="btn btn-default j-show-list">Show List</button>
        </div>
    </div>
    <div class="row mt-10">
        <div class="col-xs-8">
            <div class="add-photo-contain j-add-photo">
                <img src="/app/img/add-photo.png" class="add-photo j-add-img" alt="add photo"/>
            </div>
        </div>
        <div class="col-xs-16">
            <div class="form-row">
                <input name="title" type="text" required title="title" class="form-class w100p" placeholder="Title *"/>
            </div>
            <div class="form-row">
                <textarea name="special" title="special" required class="form-class w100p sm-area" placeholder="Specials *"></textarea>
            </div>
            <div class="form-row">
                <textarea name="description" title="description" required class="form-class w100p md-area" placeholder="Description *"></textarea>
            </div>
        </div>
        <input type="hidden" required name="img" class="j-img-input"/>
    </div>
</div>