<div class="row contact-row">
    <div class="col-xs-8">
        <img src="{{img}}" alt="{{title}}"/>
    </div>
    <div class="col-xs-14">
        <div class="first-last-name title">
            <h3>{{firstName}} {{lastName}} ({{position}})</h3>
        </div>
        <div class="email-and-phone mt-20">
            Тел.: {{phone}}
        </div>
        <div class="email-and-phone mt-10">
            Отел: {{department}}, З/П: {{salaryFormat}}
        </div>
        <div class="mt-20">
            <a href="#" class="j-remove">Удалить</a>
        </div>
    </div>
</div>