<div class="add-event">
    <div class="row">
        <div class="col-xs-8 col-offset-xs-16 text-right">
            <button class="btn btn-default j-add-event">Add</button>
            <button class="btn btn-default j-show-list">Show List</button>
        </div>
    </div>
    <div class="row mt-10">
        <div class="col-xs-8">
            <div class="add-photo-contain j-add-photo">
                <img src="/app/img/add-photo.png" class="add-photo j-add-img" alt="add photo"/>
            </div>
        </div>
        <div class="col-xs-16">
            <div class="form-row">
                <input name="firstName" type="text" required title="firstName" class="form-class w100p" placeholder="First Name *"/>
            </div>
            <div class="form-row">
                <input name="lastName" type="text" required title="Last Name" class="form-class w100p" placeholder="Last Name *"/>
            </div>
            <div class="form-row">
                <input name="phone" type="tel" required title="phone" class="form-class w100p" placeholder="Phone *"/>
            </div>
            <div class="form-row">
                <input name="salary" type="number" required title="Salary" class="form-class w100p" placeholder="Salary *"/>
            </div>
            <div class="form-row">
                <input name="position" type="text" required title="Position" class="form-class w100p" placeholder="Position *"/>
            </div>
            <div class="form-row">
                <input name="department" type="text" required title="Department" class="form-class w100p" placeholder="Department *"/>
            </div>
        </div>
        <input type="hidden" required name="img" class="j-img-input"/>
    </div>
</div>